.Wrapper{
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(180deg, rgba(194,192,233,1) 0%, rgb(255, 255, 255) 100%); */
    background-image: linear-gradient( #bab2f8 0%,#ffffff 50% , #ffffff 100%);

}

.Container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}